.d-flex input {
    margin: 2em 1em;

}

.d-flex button {
    margin: 2em 1em;

}
.userid-color {
    background-color: #e7e7e7;
}
.container table {
    margin: 2em 4%;
}

table .btndelete {
    color: red;
}

table .btnedit {
    cursor: pointer;
}

#header h1{
    padding-top: 4em;
    font-weight: bold;
    color: #0F4C81;
    font-size: 3em;
    letter-spacing: .5em;
}

#bar-alert
 {
    font-weight: bold;
    color: #e30d40;
    font-size: 2em;
    letter-spacing: .2em;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}